@model Patient
<div class="box" style="background-color:#555555;">
    <img src="@Model.Picture" alt="Profile Picture">
    <h3 style="color:white;">@Model.Name</h3>
    <span style="color:white;">@Model.Email</span>
</div>
