@{
	ViewData["Title"] = "Login";
}

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6 form-container">
				<div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
					<div class="logo mt-5 mb-3">
						<img src="/image/favicon.ico" width="50" height="30">
					</div>
					<div class="heading mb-3">
						<h4 style="color:black;">Login into your account</h4>
					</div>
					<form method="post" asp-controller="Authentication" asp-action="Login">
						<div class="form-input">
							<span><i class="fa fa-envelope"></i></span>
							<input name="email" type="email" placeholder="Email Address" required>
						</div>
						<div class="form-input">
							<span><i class="fa fa-lock"></i></span>
							<input name="password" type="password" placeholder="Password" required>
						</div>
						<div class="row mb-3">
							<div class="col-12 d-flex">
									<select name="usertype">
										<option value="admin">Admin</option>
										<option value="patient">Patient</option>
										<option value="doctor">Doctor</option>
									</select>
							</div>
						</div>
						<div class="text-left mb-3">
							<button type="submit" class="btn">Login</button>
						</div>
						<div class="text-white">Don't have an account?
							<a href="/Authentication/SignupPage" class="register-link" style="color:black;"><b>Register here</b></a>
						</div>
					</form>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 d-none d-md-block image-container">
			</div>
		</div>
	</div>